@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-pink{
  @apply btn-primary text-white text-sm py-4 px-8 rounded uppercase transition duration-300 hover:scale-95 transform;;
}
.dash-link{
  @apply px-10 p-4 hover:bg-neutral focus-within:text-primary focus-within:bg-base-100
}
